<div>
    <h1>ALBUMS</h1>
    <ngx-datatable class='material striped' *ngIf="showTable" class="material" [columnMode]="'force'"
        [columns]="columns" [externalPaging]="false" [headerHeight]="'auto'" [rowHeight]="'auto'" [rows]="rows"
        [scrollbarH]="false" (activate)="redirectTo($event)">
        <ngx-datatable-column name="placeholderColor">
            <ng-template let-column="column" ngx-datatable-header-template>
                <p class="header_template">
                    Color
                </p>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="row_template">
                    <img [style.background-color]="value" style="width: 40px; height: 30px;" />
                </div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="username">
            <ng-template let-column="column" ngx-datatable-header-template>
                <p class="header_template">
                    User Name
                </p>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="row_template">
                    {{value}}
                </div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="covorImage">
            <ng-template let-column="column" ngx-datatable-header-template>
                <p class="header_template">
                    Cover Photo
                </p>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="row_template">
                    <img [src]="value" style="width: 40px; height: 30px;" />
                </div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="albumTitle">
            <ng-template let-column="column" ngx-datatable-header-template>
                <p class="header_template">
                    Album Title
                </p>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="row_template">
                    {{value}}
                </div>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>

    <mat-paginator [length]="5000" [pageSize]="20" [pageSizeOptions]="[20,30,50]" (page)="getPagedData($event)">
    </mat-paginator>
</div>