@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.header_template{
    width: auto;
    text-align:center;
    border: 1px solid #2928281a;
    margin : auto;
    padding : 10px 5px 10px 5px;
}

.row_template{
    width: auto;
    text-align:center;
    margin : auto;
    padding : 10px 5px 10px 5px;
}