<h1 mat-dialog-title class="photo-detail-modal modal-header">{{data.albumTitle}} by {{data.ownerName}}</h1>
<h2>{{data.photoTitle}}</h2>
<div mat-dialog-content>
  <img [src]="data.photoUrl" />
</div>