<div>
    <h1>PHOTOS from {{albumTitle}} by {{ownerName}}</h1>

    <ngx-datatable *ngIf="showTable" class="material" [columnMode]="'force'" [columns]="columns"
        [externalPaging]="false" [headerHeight]="'auto'" [rowHeight]="'auto'" [rows]="rows" [scrollbarH]="false"
        (page)='getPagedData($event)' (activate)="openDialog($event)">

        <ngx-datatable-column name="title">
            <ng-template let-column="column" ngx-datatable-header-template>
                <p class="header_template">
                    Photo Title
                </p>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
                <p class="row_template">
                    {{value}}
                </p>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="thumbnailUrl">
            <ng-template let-column="column" ngx-datatable-header-template>
                <p class="header_template">
                    Photo
                </p>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="row_template">
                    <img [src]="value" style="width: 40px; height: 30px;" />
                </div>
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>

    <mat-paginator [length]="5000" [pageSize]="20" [pageSizeOptions]="[20,30,50]" (page)="getPagedData($event)">
    </mat-paginator>
</div>